<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.shanifinor_project">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:layoutDirection="ltr"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name=".ui.screens.UserProfileActivity"
            android:parentActivityName=".ui.screens.MainActivity" />
        <activity
            android:name=".ui.screens.ChartWinningsActivity"
            android:parentActivityName=".ui.screens.MainActivity" />
        <activity
            android:name=".ui.screens.GetStarActivity"
            android:parentActivityName=".ui.screens.MainActivity" />
        <activity
            android:name=".ui.screens.InstructionsActivity"
            android:parentActivityName=".ui.screens.MainActivity" />
        <activity
            android:name=".ui.screens.GameActivity"
            android:parentActivityName=".ui.screens.GameMenuActivity" />
        <activity
            android:name=".ui.screens.GameMenuActivity"
            android:parentActivityName=".ui.screens.MainActivity" />
        <activity android:name=".ui.screens.MainActivity"  />

        <activity android:name=".ui.screens.SplashScreenActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".model.service.MyService"/>
    </application>

<!--    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>-->
<!--    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        tools:ignore="ScopedStorage" />-->
<!--    <uses-permission android:name="android.permission.BATTERY_STATS"-->
<!--        tools:ignore="ProtectedPermissions" />-->
</manifest>